<article class="panel is-primary">
  <p class="panel-heading folder-nav">
    Folders
    <%= link_to 'New Folder', new_folder_path, class: 'button is-primary is-inverted is-pulled-right is-small-margin-left' %>
    <%= link_to 'New File', new_upload_file_path, class: 'button is-primary is-inverted is-pulled-right' %>
  </p>
  <br>

  <% @folders.each do |folder| %>
    <%= presenter.render_partial(self, folder) %>
  <% end %>
</article>
