<div class="columns is-mobile">
  <div class="column is-6 is-small-padding-left">
    <%= link_to asset.name, rails_blob_path(asset.file, disposition: 'preview'), target: "_blank" %>
  </div>
  <div class="column is-2">
    -
  </div>
  <div class="column is-2">
    <%= link_to 'Destroy', upload_file_path(asset), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
