@import "bulma/bulma";
@import "./**/*";

.folder-nav {
  height: 60px
}

.is-small-padding-left {
  padding-left: 2rem
}

.is-small-margin-left {
  margin-left: 2rem
}

li a {
  color: #3273dc !important;
}

.folder {
  color: #3273dc !important;
}
